body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 45px ;
}
.namecolor{
    color: orange !important;
}
section { 
    display: flex;
    margin-bottom: -250px;
}
.half-width { 
    width: 50% ;
    padding-left: 2%;

}
.half-width img {
    margin-top: 50px;
    margin-left: 200px; 
    width: 450px;
}
.half-width p{
    text-align: justify;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.img02{
    margin-left: 115px;
    margin-right: 130px;
    width: 3500px;
}
.paragraph {
    text-align: justify ;
    margin-right: 25px;
}
.link-button01{
    background-image: linear-gradient(orange,orangered);
    font-weight: 600;
    text-decoration: none !important;
    padding: 10px 15px;
    color: white !important;
    border-radius: 5px;
}
.developerimage{
    margin-top: 200px;
   
}
.background{
    background-image: url(images/top-banner.png);

    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom !important;
}
